In [1]:
import pandas as pd

In [2]:
filename = 'Test1-data.csv'

In [3]:
df = pd.read_csv(filename)

In [4]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82.0,2720,19.4,82,US

In [5]:
df.info

<bound method DataFrame.info of                            Car   MPG  Cylinders  Displacement  Horsepower  \
0    Chevrolet Chevelle Malibu  18.0          8         307.0       130.0
1            Buick Skylark 320  15.0          8         350.0       165.0
2           Plymouth Satellite  18.0          8         318.0       150.0
3                AMC Rebel SST  16.0          8         304.0       150.0
4                  Ford Torino  17.0          8         302.0       140.0
..                         ...   ...        ...           ...         ...
401            Ford Mustang GL  27.0          4         140.0        86.0
402          Volkswagen Pickup  44.0          4          97.0        52.0
403              Dodge Rampage  32.0          4         135.0        84.0
404                Ford Ranger  28.0          4         120.0        79.0
405                 Chevy S-10  31.0          4         119.0        82.0

     Weight  Acceleration  Model  Origin
0      3504          12.0     70      US
1      3693          11.5     70      US
2      3436          11.0     70      US
3      3433          12.0     70      US
4      3449          10.5     70      US
..      ...           ...    ...     ...
401    2790          15.6     82      US
402    2130          24.6     82  Europe
403    2295          11.6     82      US
404    2625          18.6     82      US
405    2720          19.4     82      US

[406 rows x 9 columns]>

In [6]:
df.shape

(406, 9)

In [7]:
df.isna().sum()

Car             0
MPG             0
Cylinders       0
Displacement    0
Horsepower      0
Weight          0
Acceleration    0
Model           0
Origin          0
dtype: int64

# Q1. One way to measure engine efficiency is to determine its fuel economy. Based on year of production, what year
# was the most efficient engine produced?

In [8]:
# Grouping by the Model year and calculating the max MPG for each year
average_mpg = df.groupby('Model')['MPG'].max()
average_mpg

Model
70    27.0
71    35.0
72    28.0
73    29.0
74    32.0
75    33.0
76    33.0
77    36.0
78    43.1
79    37.3
80    46.6
81    39.1
82    44.0
Name: MPG, dtype: float64

In [9]:
# Finding the year with the highest max MPG
most_efficient_year = average_mpg.idxmax()

# Finding the year with the highest index max MPG
most_efficient_mpg = average_mpg.loc[most_efficient_year]

print(f"The most efficient engine year based on fuel economy was: {most_efficient_year} with {most_efficient_mpg}")

The most efficient engine year based on fuel economy was: 80 with 46.6

# Q2. Another way to measure engine efficiency is to calculate the amount of power the engine produces based on its displacement. This is calculated by dividing the horsepower rating of the car by the displacement with the answer being measured in hp/in3. Based on the country of origin, which region produces the most efficient engine?

In [10]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165.0,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150.0,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150.0,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86.0,2790,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52.0,2130,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84.0,2295,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79.0,2625,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82.0,2720,19.4,82,US

In [11]:
# Calculating the engine efficiency
df['Horsepower']/ df['Displacement']

0      0.423453
1      0.471429
2      0.471698
3      0.493421
4      0.463576
         ...
401    0.614286
402    0.536082
403    0.622222
404    0.658333
405    0.689076
Length: 406, dtype: float64

In [12]:
df['engine_efficiency'] = (df['Horsepower']/ df['Displacement']).round(2)

In [13]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin,engine_efficiency
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504,12.0,70,US,0.42
1,Buick Skylark 320,15.0,8,350.0,165.0,3693,11.5,70,US,0.47
2,Plymouth Satellite,18.0,8,318.0,150.0,3436,11.0,70,US,0.47
3,AMC Rebel SST,16.0,8,304.0,150.0,3433,12.0,70,US,0.49
4,Ford Torino,17.0,8,302.0,140.0,3449,10.5,70,US,0.46
...,...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86.0,2790,15.6,82,US,0.61
402,Volkswagen Pickup,44.0,4,97.0,52.0,2130,24.6,82,Europe,0.54
403,Dodge Rampage,32.0,4,135.0,84.0,2295,11.6,82,US,0.62
404,Ford Ranger,28.0,4,120.0,79.0,2625,18.6,82,US,0.66
405,Chevy S-10,31.0,4,119.0,82.0,2720,19.4,82,US,0.69

In [14]:
most_efficient_origin = df.groupby('Origin')['engine_efficiency'].max()
most_efficient_origin

Origin
Europe    0.95
Japan     1.43
US        0.85
Name: engine_efficiency, dtype: float64

In [15]:
most_efficient_region = most_efficient_origin.idxmax()
value = most_efficient_origin.max()

print(f"The most efficient origin based on engine efficiency was: {most_efficient_region} with a value of {value}")

The most efficient origin based on engine efficiency was: Japan with a value of 1.43

# Q3. Based on country of origin, what sized engine based on cylinder count is the most popular?

In [16]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin,engine_efficiency
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504,12.0,70,US,0.42
1,Buick Skylark 320,15.0,8,350.0,165.0,3693,11.5,70,US,0.47
2,Plymouth Satellite,18.0,8,318.0,150.0,3436,11.0,70,US,0.47
3,AMC Rebel SST,16.0,8,304.0,150.0,3433,12.0,70,US,0.49
4,Ford Torino,17.0,8,302.0,140.0,3449,10.5,70,US,0.46
...,...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86.0,2790,15.6,82,US,0.61
402,Volkswagen Pickup,44.0,4,97.0,52.0,2130,24.6,82,Europe,0.54
403,Dodge Rampage,32.0,4,135.0,84.0,2295,11.6,82,US,0.62
404,Ford Ranger,28.0,4,120.0,79.0,2625,18.6,82,US,0.66
405,Chevy S-10,31.0,4,119.0,82.0,2720,19.4,82,US,0.69

In [17]:
cylinder_count = df.groupby('Origin')['Cylinders'].count()
cylinder_count

Origin
Europe     73
Japan      79
US        254
Name: Cylinders, dtype: int64

In [18]:
most_cylinder_count = cylinder_count.idxmax()

print(f"The most efficient origin based on cylinder count was: {most_cylinder_count}")

The most efficient origin based on cylinder count was: US

In [19]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin,engine_efficiency
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130.0,3504,12.0,70,US,0.42
1,Buick Skylark 320,15.0,8,350.0,165.0,3693,11.5,70,US,0.47
2,Plymouth Satellite,18.0,8,318.0,150.0,3436,11.0,70,US,0.47
3,AMC Rebel SST,16.0,8,304.0,150.0,3433,12.0,70,US,0.49
4,Ford Torino,17.0,8,302.0,140.0,3449,10.5,70,US,0.46
...,...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86.0,2790,15.6,82,US,0.61
402,Volkswagen Pickup,44.0,4,97.0,52.0,2130,24.6,82,Europe,0.54
403,Dodge Rampage,32.0,4,135.0,84.0,2295,11.6,82,US,0.62
404,Ford Ranger,28.0,4,120.0,79.0,2625,18.6,82,US,0.66
405,Chevy S-10,31.0,4,119.0,82.0,2720,19.4,82,US,0.69

In [20]:
df['Cylinders'].unique()

array([8, 4, 6, 3, 5], dtype=int64)

In [21]:
#new_df = df.groupby(['Origin','Cylinders'])['Cylinders'].count().unstack().fillna(0)
#new_df

In [22]:
# using crosstab to get the frequency/count of each category in cylinders per the Origin
new_df = pd.crosstab(df['Origin'], df['Cylinders'])
new_df

Cylinders  3   4  5   6    8
Origin
Europe     0  66  3   4    0
Japan      4  69  0   6    0
US         0  72  0  74  108

In [23]:
#new_df.idxmax()

In [24]:
#Using the idxmax() to find the highest value for each country per row
index = new_df.idxmax(axis=1)
index

Origin
Europe    4
Japan     4
US        8
dtype: int64

In [25]:
value = new_df.max(axis=1)
value

Origin
Europe     66
Japan      69
US        108
dtype: int64

In [26]:
# Putting the results of the series in a new dataframe
result = pd.DataFrame({'Most Popular Cylinder Count': index, 'Count': value})
result

        Most Popular Cylinder Count  Count
Origin
Europe                            4     66
Japan                             4     69
US                                8    108